<h1>Users list</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Phone</th>
      <th scope="col">Hairdresser</th>
      <th scope="col">Date Time</th>
      <th scope="col">Hair Color</th>
    </tr>
  </thead>
  <tbody>
  <% Client.all.each do |row| %>

    <tr>
      <th scope="row"><%= row.id %></th>
      <td><%= row.name %></td>
      <td><%= row.phone %></td>
      <td><%= row.datestamp %></td>
      <td><%= row.barber %></td>
      <td style="background-color: <%= row[5] %>"><%= row.color %></td>
    </tr>

  <% end %>

  </tbody>
</table>
